<div class="notice">
  <%=flash[:notice]%>
  <div class="errors"><%=flash[:error]%></div>
  </div>
<h2><%=@category.category_name%></h2>
<div class="clear"></div>
<div class="header-line"></div>
<div class="clear"></div>

 <div style="float:left">
 <%if @questions.empty?%>
 <div class="empty">Spotsaving is a new network,<br><br> Be the first one in Your City<br><br> To ask about something.<br><br>
 <%=link_to "Ask",{:controller=>"questions",:action =>"new"} ,{:class=>"list-button" }%>
  </div>
 <%end%>
<% @questions.each do |question| %>
   <% if question.where && question.how_much %>
 <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a"><a href="/questions/<%=question.id%>"> Where can i find <%=question.item%> for a low price? How much is it?</a><br>
         <% unless question.additional_details.empty?%> 
         <span class="details"><%=truncate(question.additional_details,:length=>150)%></span><br>
         <%else%>
          <span class="no-details">no additional details</span><br>
         <%end%> 
         <span class="asked-by">asked by</span>&nbsp;
         <span class="username"><%=question.user.username%></span>&nbsp;
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>&nbsp;
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
            <div class="light-line"></div>
   <% elsif question.where %>
   <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a">
   <a href="/questions/<%=question.id%>"> Where can i find <%=question.item%> for a low price?</a><br>
           <% unless question.additional_details.empty?%> 
           <span class="details"><%=truncate(question.additional_details,:lenth=>150)%></span><br>         
           <%else%>
           <span class="no-details">no additional details</span><br>
           <%end%> 
           <span class="asked-by">asked by</span>&nbsp;
         <span class="username"><%=question.user.username%></span>&nbsp;
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>&nbsp;
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
           </span>
               <div class="light-line"></div>
   <% else%>
   <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a">
   <a href="/questions/<%=question.id%>"> How much  is <%=question.item%> ?</a><br>
            <% unless question.additional_details.empty?%> 
            <span class="details"> <%=truncate(question.additional_details,:length=>150)%></span><br>
                      
           <%else%>
            <span class="no-details">no additional details</span><br>
            <%end%>
              <span class="asked-by">asked by</span>&nbsp;
         <span class="username"><%=question.user.username%></span>&nbsp;
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>&nbsp;
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
           </span>
           <div class="light-line"></div>
   <%end%>

<%end%>

</div>

<div style="float:left;margin-left:180px;">

<%if @dealss.empty?%>
<div class="empty-box-cat">
<h3 style"margin:0px;">Share with your community</h3>
Spotsaving is <br><br>a new network, <br><br>Be the first one<br><br> to tell us what<br><br> you spot from <br><br>your local store<br>
<br><%=link_to "Share ",{:controller=>"deal",:action =>"new"} ,{:class=>"list-button" }%></div>
<%else%>

<div class="empty-box">
<h3 style"margin:0px;">Share with your community</h3>
<%@dealss.each do |deal|%>
<div class="deal">
<%unless deal.official%>
     <%unless deal.fixed_price.nil?%>
         <%if deal.fixed_price%>
<a class="item" href="/comment/index?deal_id=<%=deal.id%>">
<%=truncate(deal.item_name,:length=>30)%> </a><br/> <span class="static-text">for</span> <span class="item-price">$<%=deal.price%></span><br/>
         <%else%>
              <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><%=truncate( deal.item_name,:length=>22)%></a><br/>
             <span class="item-price"><%= deal.percent_off%>Off</span><br/>
         <%end%>
     <%else%>
            <%if deal.unfixed%>
            Buy 2 <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><%=truncate( deal.item_name,:length=>30)%></a><br/><span class="item-price">get 1 free</span>
             <%else%>
             <a class="item" href="/comment/index?deal_id=<%=deal.id%>">
             <%=truncate(deal.item_name,:length=>30)%> </a><br/>
             <a class="link-underline" href="/comment/index?deal_id=<%=deal.id%>">See details</a> <br/>      
             <%end%> 
     <%end%>
<span class="image"> <%=image_tag (deal.image_url.to_s )%></span><br/>
<%=link_to image_tag("down.png"),vote_down_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-down"  %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-up"  %>
 <span class="votes"><%=pluralize(deal.plusminus,"vote")%></span><br/>
 <a class="view-button" href="/comment/index?deal_id=<%=deal.id%>">view deal</a>

    <% deal.stores.each do |club| %>
    <div class="store-name">
    <%= truncate(club.store_name,:length=>15) %>&nbsp; <span class="static-text">in</span>&nbsp;
     <%end%> 
      <%=truncate(deal.town,:length=>21)%>
     </div>
     
      
<%else%> 
  <% if deal.fixed_price%>
  <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><%=deal.size%>&nbsp;<%=truncate(deal.brand,:length=>30)%><br/>
 <%=truncate(deal.item_name,:length=>30)%> </a><br/> <span class="static-text">for</span> <span class="item-price">$<%=deal.price%></span><br/>
<%else%>
   <a class="item" href="/comment/index?deal_id=<%=deal.id%>">Buy&nbsp;<%=deal.quantity%>&nbsp;<%=deal.size%>&nbsp;<%=truncate(deal.brand,:length=>30)%><br/>
<%=truncate(deal.item_name,:length=>30)%> </a>&nbsp; <span class="static-text">and get</span><br/>
 <% unless deal.n_item_free.nil? %>
    <span class="item-price"><%=deal.n_item_free.to_s << " " << "free"%> </span> 
    <%else%> 
    <span class="item-price"><%=deal.percent_off.to_s + "%off"%> </span> &nbsp;<span >on next item</span>
    <%end%>   
 <br/>
<%end%>
<span class="image"> <%=image_tag (deal.image_url.to_s )%></span><br/>
<%=link_to image_tag("down.png"),vote_down_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-down"  %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-up"  %>
 <span class="votes"><%=pluralize(deal.plusminus,"vote")%></span><br/>
 <a class="view-button" href="/comment/index?deal_id=<%=deal.id%>">view deal</a>

    <% deal.stores.each do |club| %>
    <div class="store-name">
    <%= truncate(club.store_name,:length=>15) %>&nbsp; <span class="static-text">by</span>&nbsp;
     <%end%>   
    <%=truncate(deal.town,:length=>15)%>
    </div>

<%end%>      
         <span class="comment-front-page"><%=pluralize(deal.comments.count,"comment")%></span><br/>
         <% unless deal.flagged %>
      <%=link_to "flag this",flagg_deal_path(deal),:method=>:post,:remote=>true,:confirm=>"Are you sure, want to flag this?" ,:class=>"flag" %>
        <%if deal.official%>
       <span class="official">Official</span>
       <%end%>
       <%else%>
   <span class="flagged">flagged</span>
<%end%>
     </div>
  
   <span class="time"> spotted&nbsp;<%=time_ago_in_words(deal.created_at)%>&nbsp;ago&nbsp;by &nbsp;<%=deal.user.username%></span>
    <div class="deal-dotted-line"></div>
<%end%>

<%end%>

</div>
</div>

