<div class="header-bar"><%=image_tag ("city.png")%><span class="city-title"><%=@city.name %></span>&diams;&diams;<%=@category.category_name%></div>
<div class="notice">
  <%=flash[:notice]%>
  <div class="errors"><%=flash[:error]%></div>
  </div>
<div class="clear"></div>

<%if @dealss.empty?%>
<div class="empty">Oops! Sorry, We don't have deals in this category yet. Please Come back later. </div>

<%else%>

<%@dealss.each do |deal|%>
<div style="float:left;">
<div class="deal">
<%unless deal.official%>
     <%unless deal.fixed_price.nil?%>
         <%if deal.fixed_price%>
<a class="item" href="/comment/index?deal_id=<%=deal.id%>">
<%=truncate(deal.item_name,:length=>30)%> </a><br/> <span class="static-text">for</span> <span class="item-price">$<%=deal.price%></span><br/>
         <%else%>
              <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><%=truncate( deal.item_name,:length=>22)%></a><br/>
             <span class="item-price"><%= deal.percent_off%>Off</span><br/>
         <%end%>
     <%else%>
            <%if deal.unfixed%>
            Buy 2 <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><%=truncate( deal.item_name,:length=>30)%></a><br/><span class="item-price">get 1 free</span>
             <%else%>
             <a class="item" href="/comment/index?deal_id=<%=deal.id%>">
             <%=truncate(deal.item_name,:length=>30)%> </a><br/>
             <a class="link-underline" href="/comment/index?deal_id=<%=deal.id%>">See details</a> <br/>      
             <%end%> 
     <%end%>
<span class="image"> <%=image_tag (deal.image_url.to_s )%></span><br/>
<%=link_to image_tag("down.png"),vote_down_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-down"  %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-up"  %>
 <span class="votes"><%=pluralize(deal.plusminus,"vote")%></span><br/>
 <a class="view-button" href="/comment/index?deal_id=<%=deal.id%>">view deal</a>

    <% deal.stores.each do |club| %>
    <div class="store-name">
    <%= truncate(club.store_name,:length=>15) %>&nbsp; <span class="static-text">in</span>&nbsp;
     <%end%> 
      <%=truncate(deal.town,:length=>21)%>
     </div>
     
      
<%else%> 
  
   <%unless deal.fixed_price.nil?%>
     <% if deal.fixed_price%>
       <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><br/>
       <%=truncate(deal.item_name,:length=>22)%> </a><br/> <span class="static-text">for</span> <span class="item-price">$<%=deal.price%></span><br/>
     <%else%>
        <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><%=truncate( deal.item_name,:length=>22)%></a><br/>
        <span class="item-price"><%= deal.percent_off%>Off</span><br/>
        <%end%>
  <%else%>
        <%if deal.unfixed%>
            Buy 2 <a class="item" href="/comment/index?deal_id=<%=deal.id%>"><%=truncate( deal.item_name,:length=>22)%></a><br/><span class="item-price">get 1 free</span>
             <%else%>
             <a class="item" href="/comment/index?deal_id=<%=deal.id%>">
             <%=truncate(deal.item_name,:length=>22)%> </a><br/>
             <a class="link-underline" href="/comment/index?deal_id=<%=deal.id%>">See details</a> <br/>      
             <%end%> 
            
<%end%>
<span class="image"> <%=image_tag (deal.image_url.to_s )%></span><br/>
<%=link_to image_tag("down.png"),vote_down_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-down"  %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(deal),:method=>:post,:remote=>true ,:class=>"vote-up"  %>
 <span class="votes"><%=pluralize(deal.plusminus,"vote")%></span><br/>
 <a class="view-button" href="/comment/index?deal_id=<%=deal.id%>">view deal</a>

    <% StoreDeal.where("deal_id = ?",deal.id).includes(:store).each  do |deal| %>
    <div class="store-name">
    <%= truncate(deal.store.user.store.store_name,:length=>15) %>&nbsp; <span class="static-text">in</span>&nbsp;   
    <%=truncate(deal.store.user.store.town,:length=>15)%>
      <%end%>
    </div>

<%end%>      
         <span class="comment-front-page"><%=image_tag("bubble.png")%>&nbsp;<%=pluralize(deal.comments.count,"comment")%></span><br/>
         <% unless deal.flagged %>
      <%=link_to image_tag("flag.png")+"flag this",flagg_deal_path(deal),:method=>:post,:remote=>true,:confirm=>"Are you sure, want to flag this?" ,:class=>"flag" %>
        <%if deal.official%>
       <div class="official"><%=image_tag("official.png")%></div>
       <%end%>
       <%else%>
   <span class="flagged">flagged</span>
<%end%>
     </div>
  <br>
   <span class="time">posted&nbsp;<%=time_ago_in_words(deal.created_at)%>&nbsp;ago</span>
   </div>
<%end%>

<%end%>



