
<div class="container">
<h3><%=@category.category_name%></h3>
 <div class="note">
  <%=flash[:notice]%>
  <div class="error"><%=flash[:error]%></div>
  </div>

<%@dealss.each do |deal|%>
<div style="float:left">
<div class="deal">
<a href="/comment/index?deal_id=<%=deal.id%>"><%=deal.size%>&nbsp;<%=deal.brand%>
&nbsp;<%=deal.item_name%> </a>for <%=deal.price%>$ <br/>
<span class="image"><%=image_tag deal.image_url.to_s%></span><br/>
<%=link_to "vote down",vote_down_deal_path(deal),:method=>:post,:remote=>true %>
 <%=link_to "vote up",vote_up_deal_path(deal),:method=>:post,:remote=>true %>
<%=pluralize(deal.plusminus,"vote")%><br/>
<a class="view-button" href="/comment/index?deal_id=<%=deal.id%>">view</a><br/>
    <% deal.stores.each do |club| %>
    <%= club.store_name %>&nbsp;by
    <%=club.address%> <br/>
    <%=pluralize(deal.comments.count,"comment")%>
</div>
<br/>
<span class="time"><%=time_ago_in_words(deal.created_at)%>&nbsp;ago</span>
</div>
  <%end%>  
<%end%>

</div>
