<div class="home-background">
<div class="selling-line">
<div class="main">

<%=image_tag("spot-logo.png")%>
<span style="display:inline-block;margin-top:0px;text-align:center;text-shadow:1px 1px black;">SAVE THOUSANDS ANNUALLY ON YOUR DAILY PURCHASES THROUGH INFORMATION SHARING</span>
</div>

</div>
<div class="sign-up-form">
<h2>Sign up</h2>
<div>
<%= form_for(resource,:as=>resource_name,:url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <p><b><%= f.label :Username %></b></p>
  <p><%= f.text_field :username %></p>
  
  <p><b><%= f.label :email %></b></p>
  <p><%= f.text_field :email %></p>

  <p><b><%= f.label :password %></b></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
</div>

</div>