<div class="container">
<% if flash[:error] %>
<div class="error" ><%=flash[:error] %></div>
<%end%>

<%unless @deal.official%>
<h3 style="text-decoration:underline;"><%=@deal.size%>&nbsp;<%=@deal.brand%>&nbsp;<%=@deal.item_name%>&nbsp;at&nbsp;<%@store.each do |store|%>
<%=store.store.store_name%><%end%></h3>

<div class="view-image"> <%=image_tag (@deal.image_url.to_s )%></div>

<div class="details-border">
    <% if @deal.fixed_price%>
         <% if @deal.quantity>1 %>
        <div class="buy">Buy&nbsp; <%=@deal.quantity%>&nbsp;<span style="margin:7px;font-weight:bold;font-size:13px;color:black;">for</span></div>
         <%end%>
    <div class="item-price-view"> <%=@deal.price%>$</div>
     <div class="line-separator"></div> 
    <div style="font-size:24px;font-weight:bold;margin:6px;"><%=pluralize(@deal.plusminus,"vote")%></div>
    <div class="line-separator"></div>
    <div style="margin:6px;"><b>Cross street:</b>
    <%@store.each do |store|%>
    <span class="address"><%=store.store.address%><%end%></span></div>
     <div class="line-separator"></div>
    <div style="margin:6px;">
    <%=link_to image_tag("down.png"),vote_down_deal_path(@deal),:method=>:post,:remote=>true ,:class=>"vote-down-view" %>
<%=link_to image_tag("up.png"),vote_up_deal_path(@deal),:method=>:post,:remote=>true,:class=>"vote-up-view" %>
     </div>
    <%else%>
     <div class="buy">Buy <%=@deal.quantity%> <span style="margin:7px;font-weight:bold;font-size:13px;color:black;">and get</span></div>
             <% unless @deal.n_item_free.nil? %>
             <div class="item-price-view"><%=@deal.n_item_free.to_s + "free"%></div>
             <%else%> 
             <div class="item-price-view"><%=@deal.percent_off.to_s + "%off"%>&nbsp;<span class="static-text">on next item</span></div>
             <%end%>
      <div class="line-separator"></div>    
      <div style="font-size:24px;font-weight:bold;margin:7px;"><%=pluralize(@deal.plusminus,"vote")%></div> 
      <div class="line-separator"></div> 
      <div style="margin:6px;"><b>Cross street:</b>
      <%@store.each do |store|%>
      <span class="address"><%=store.store.address%><%end%></span></div>
      <div class="line-separator"></div>
      <div style="margin:6px;">
      <%=link_to image_tag("down.png"),vote_down_deal_path(@deal),:method=>:post,:remote=>true ,:class=>"vote-down-view" %>
      <%=link_to image_tag("up.png"),vote_up_deal_path(@deal),:method=>:post,:remote=>true,:class=>"vote-up-view" %>
      </div>     
     <%end%>

<%else%>
<div class="official-bar">OFFICIAL</div>

<h3 style="text-decoration:underline;"><%=@deal.size%>&nbsp;<%=@deal.brand%>&nbsp;<%=@deal.item_name%>&nbsp;at&nbsp;<%@store.each do |store|%>
<%=store.store.store_name%><%end%></h3>
<div class="view-image"> <%=image_tag (@deal.image_url.to_s )%></div>
<div class="details-border">
<% if @deal.fixed_price%>
         <% if @deal.quantity>1 %>
        <div class="buy">Buy&nbsp; <%=@deal.quantity%> <span style="margin:7px;font-weight:bold;font-size:13px;color:black;">for</span></div>
         <%end%>
   <div class="price"><%=@deal.price%>$</div>
   <div class="line-separator"></div>
   <div style="font-size:24px;font-weight:bold;margin:6px;"><%=pluralize(@deal.plusminus,"vote")%></div>
   <%if @saving %>
   <div class="saving">Saving:&nbsp;<%=@saving %>$</div>
    <div class="line-separator"></div>
   <%end%>
<%else%>
<div class="buy"> Buy <%=@deal.quantity%>&nbsp;<span style="margin:7px;font-weight:bold;font-size:13px;color:black;"> and get</span></div>
             <% unless @deal.n_item_free.nil? %>
             <div class="item-price-view"><%=@deal.n_item_free.to_s + "free"%></div>
             <div class="line-separator"></div>
             <%else%> 
             <div class="item-price-view"><%=@deal.percent_off.to_s + "%off"%><span style="color:black;font-size:13px;">on next item</span></div>
             <div class="line-separator"></div>
             <%end%>
 <%end%> 
<div style="font-size:24px;font-weight:bold;margin:6px;"><%=pluralize(@deal.plusminus,"vote")%></div>
<div class="line-separator"></div>              
<% unless @deal.end_date.nil? %>
     <% if distance_of_time_in_words(@deal.end_date,Date.today).to_i>0 || distance_of_time_in_words(@deal.end_date,Date.today)=="about 1 month" %>
     <div class="deal-status"> Deal ending in&nbsp;<span style="font-weight:bolder;color:black;"><%=distance_of_time_in_words(@deal.end_date,Date.today) %></span></div>
       <div class="line-separator"></div>
     <%else%>
     <div class="deal-status">Deal is closed</div>
        <div class="line-separator"></div>
     <%end%>		
 <%end%>
    
 <%unless @deal.available_items.nil? %>
 <div style="margin:7px;color:black;">only&nbsp;<%=@deal.available_items%>&nbsp;available</div>
 <div class="line-separator"></div>
 <%end%>
<div style="margin:6px;"><%=link_to image_tag("down.png"),vote_down_deal_path(@deal),:method=>:post,:remote=>true ,:class=>"vote-down-view" %>
    <%=link_to image_tag("up.png"),vote_up_deal_path(@deal),:method=>:post,:remote=>true,:class=>"vote-up-view" %></div>
 <%end%>
</div>


<div>
<%if @deal.official%>
<%@store.each do |store|%>
<%=store.store.address%><%end%><br/>
<%=@deal.town%>
<%=@deal.state%>
<%=@deal.zipcode%><br/>
<%=@deal.phone%>
<%end%>
</div>

<div class="clear"></div>
<div class="line"></div>
<% unless @deal.details.nil? %>
<%=simple_format word_wrap(@deal.details,:line_width=>80)%>
<div class="line"></div>
<%end%>
<div id="comments_count"><%=pluralize(@comments.count,"comment")%></div>

<% @comments.each do |comment|%>
<div id="comments">
<% if comment.user%>
<span class="inline_table"><%=image_tag ("rails.png")%></span>
<span class="inline_tables"><span style="text-decoration:underline;"><%=comment.user.username%></span>&nbsp;<span style="color:#808080;">said</span><br/>
<%=comment.body%></span><br/>
<%end%>
</div>

<div class="clear"></div>
<span class="time"><%=time_ago_in_words(comment.created_at)%>&nbsp;ago</span>
<div class="line"></div>
<%end%>
<div class="comment-display"></div>
<div style="font-weight:bold;color:#808080;">Add a comment</div>
<%= form_for :comment,:remote => true,:url=>{:controller=>"comments",:action=>"create"},:html => { :id => 'new-comment'} do |f| %>
<%= f.hidden_field :deal_id ,:value=>@deal.id%>
  <%= f.text_area :body,:rows=>"4",:cols=>"90",:class=>"comment-box" %><br/>
  <% if user_signed_in? %>
  <%= f.hidden_field :user_id,:value => current_user.id%>
  <%end%>
  <%= f.submit "post",:class=>"post-button" %>
<% end %>

</div>