 

<h3><%=@deal.size%>&nbsp;<%=@deal.brand%>&nbsp;<%=@deal.item_name%></h3>
<div id="comments_count"></div>
<div id="comments">
<% @comments.each do |comment|%>
<%=comment.body%>
<%=time_ago_in_words(comment.created_at)%>&nbsp;ago
<%end%>
<%=pluralize(@comments.count,"comment")%>
</div>

<%= form_for :comment,:remote => true,:url=>{:controller=>"comments",:action=>"create"},:html => { :id => 'new-comment'} do |f| %>
<%= f.hidden_field :deal_id ,:value=>@deal.id%>
  <%= f.text_area :body,:row=>"1" %>
  <%= f.submit "post" %>
<% end %>
<div class="notice" ></div>