<div class="container">
<% if flash[:error] %>
<div class="error" ><%=flash[:error] %></div>
<%end%>

<h3><%=@deal.size%>&nbsp;<%=@deal.brand%>&nbsp;<%=@deal.item_name%>&nbsp;at&nbsp;</h3>
<div class="view-deal-border">
<span class="view-image"> <%=image_tag (@deal.image_url.to_s )%></span>
<span class="price"><%=@deal.price%>$</span><br/><br/>
<span class="votes"><%=pluralize(@deal.plusminus,"vote")%></span><br/><br/>

<%=link_to "vote down",vote_down_deal_path(@deal),:method=>:post,:remote=>true ,:class=>"vote-down" %>
<%=link_to "vote up",vote_up_deal_path(@deal),:method=>:post,:remote=>true,:class=>"vote-up" %><br/><br/>
<%if @saving %>
<%=@saving %>&nbsp;off
<%end%>
<% unless @deal.end_date.nil? %>
 Deal ending in&nbsp;<%=distance_of_time_in_words(@deal.end_date,Date.today) %>
 <%end%>
 <%unless @deal.available_items.nil? %>
 only&nbsp;<%=@deal.available_items%>&nbsp;available
 <%end%>
</div>
<div class="clear"></div>
<div id="comments_count"><%=pluralize(@comments.count,"comment")%></div>

<% @comments.each do |comment|%>
<div id="comments">
<% if comment.user%>
<span class="inline_tables"><%=image_tag ("rails.png")%></span>
<span class="inline_tables"><%=comment.user.username%>&nbsp;said</span><br/>
<%=comment.body%>
<%end%>
</div>
<span class="time"><%=time_ago_in_words(comment.created_at)%>&nbsp;ago</span>
<%end%>
<div class="comment-display"></div>
<div class="notice"><%=flash[:error]%></div>
<%= form_for :comment,:remote => true,:url=>{:controller=>"comments",:action=>"create"},:html => { :id => 'new-comment'} do |f| %>
<%= f.hidden_field :deal_id ,:value=>@deal.id%>
  <%= f.text_area :body,:rows=>"4" %><br/>
  <%= f.hidden_field :user_id,:value => current_user.id%>
  <%= f.submit "post" %>
<% end %>

</div>