<div class="home-background">
<div class="selling-line">
<div class="main">

<%=image_tag("spot-logo.png")%>
<span style="display:inline-block;margin-top:0px;text-align:center;text-shadow:1px 1px black;">SAVE THOUSANDS ANNUALLY ON YOUR DAILY PURCHASES THROUGH INFORMATION SHARING</span>
</div>

</div>
<div class="sign-up-form">
<h2>Forgot your password?</h2>

<%= form_for(resource,:as=>resource_name,  :url => password_path(resource_name)) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
</div>