<h1>Answers#new</h1>
<p>Find me in app/views/answers/new.html.erb</p>

 <div style="float:left;">
 <%if @questions.empty?%>
 <div class="empty">Spotsaving is a new network,<br><br> Be the first one in Your City<br><br> To ask about something.<br><br>
 <%=link_to "Ask",{:controller=>"questions",:action =>"new"} ,{:class=>"list-button" }%>
  </div>
 <%end%>
<% @questions.each do |question| %>
   <% if question.where && question.how_much %>
 <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a"><a href="/questions/<%=question.id%>"> Where can i find <%=question.item%> for a low price? How much is it?</a><br>
         <% unless question.additional_details.empty?%> 
         <span class="details"><%=truncate(question.additional_details,:length=>150)%></span><br>
         <%else%>
          <span class="no-details">no additional details</span><br>
         <%end%> 
         <span class="asked-by">asked by</span>&nbsp;
         <span class="username"><%=question.user.username%></span>&nbsp;
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>&nbsp;
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
            <div class="light-line"></div>
   <% elsif question.where %>
   <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a">
   <a href="/questions/<%=question.id%>"> Where can i find <%=question.item%> for a low price?</a><br>
           <% unless question.additional_details.empty?%> 
           <span class="details"><%=truncate(question.additional_details,:lenth=>150)%></span><br>         
           <%else%>
           <span class="no-details">no additional details</span><br>
           <%end%> 
           <span class="asked-by">asked by</span>&nbsp;
         <span class="username"><%=question.user.username%></span>&nbsp;
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>&nbsp;
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
           </span>
               <div class="light-line"></div>
   <% else%>
   <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a">
   <a href="/questions/<%=question.id%>"> How much  is <%=question.item%> ?</a><br>
            <% unless question.additional_details.empty?%> 
            <span class="details"> <%=truncate(question.additional_details,:length=>150)%></span><br>
                      
           <%else%>
            <span class="no-details">no additional details</span><br>
            <%end%>
              <span class="asked-by">asked by</span>&nbsp;
         <span class="username"><%=question.user.username%></span>&nbsp;
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>&nbsp;
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
           </span>
           <div class="light-line"></div>
   <%end%>

<%end%>

</div>

