<div class="home-background">
<div class="selling-line">
<div class="main">

<%=image_tag("spot-logo.png")%>
<span style="display:inline-block;margin-top:0px;text-align:center;text-shadow:1px 1px black;margin-left:140px;">SAVE THOUSANDS ANNUALLY ON YOUR DAILY PURCHASES </span>
</div>

</div>
<div class="sign-in">
<h2>Sign in</h2>

<%= form_for( resource,:as=>resource_name, :url => session_path(resource_name)) do |f| %>
  <p><b><%= f.label :email %></b></p>
  <p><%= f.text_field :email %></p>

  <p><b><%= f.label :password %></b></p>
  <p><%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>

</div>