<div class="list">List deals from your local store, please dont share deals that requires coupon </div>
Asterik (*) means that field is required<br/>

<div class="line"></div>
<%= form_for @deal ,:html=>{:multipart=>true} do |c|%>
       <%= c.error_messages %>
        
<%= c.collection_select( :category_id, Category.all ,:id,:category_name,:prompt=>"category") %><br/>
<table class="spot">
<tr><td><b>I spot </b></td></tr>
<tr><td><label>Product/Item*</label></td><td><%= c.text_field :item_name %></td></tr>
<tr><td><b>for price </b></td></tr>
<tr><td><label>Sale Price*&nbsp;$</label></td><td><%= c.text_field :price %></td></tr>
<tr><td><b>at location</b></td></tr>
<tr><td><label>City*</label></td><td><%= c.text_field :town %></td></tr> 
<%=c.fields_for :stores do |s| %>
<tr><td><label>Store</label></td><td><%=s.text_field :store_name %></td></tr>
<%= s.hidden_field :city_id,:value => @city.id%> 
 
<!--
<tr><td><%= c.radio_button :fixed_price, true,:class=>"fixed-price" %>Actual deal price</td><td><%= c.radio_button :fixed_price,false, :class=>"percent-off" %>Buy n items get percent off or item free</td></tr>
<tr class="ui-helper-hidden fixed"><td><label>Price</label></td><td><%= c.text_field :price %></td></tr>
<tr class="ui-helper-hidden percent" ><td><label>percent off</label></td><td><%= c.text_field :percent_off %></td></tr>
<tr class="ui-helper-hidden percent" ><td>or</td></tr>
<tr class="ui-helper-hidden percent"><td><label>n items free</label></td><td><%= c.text_field :n_item_free %></td></tr>-->
</table> 
<div class="line"></div>
<b>Optional</b><br/>
<label>Cross street</label></td><td><%=s.text_field :address %><br/>
<%end%>
<b>optional</b><br/>
<label>Image</label><%= c.file_field :image %><br/>
 <%= c.hidden_field :image_cache %>
<%= c.hidden_field :submitter_id,:value => current_user.id%>

<%= c.hidden_field :user_id,:value => current_user.id%>
<label><b>Optional</b></label><br/>
<label>Deal details</label><br/><%=c.text_area :details,:rows=>"6",:cols=>"90"%>  <br/>
<%= c.submit "post"%>
     
<%end%>
<div class="info">
<b>Note:</b><br/>
<ul>
<li>Clothing category includes purses and luggages</li>
<li>Houseware category includes bedding,kitchenware and other home appliances</li>
<li>Home improvement includes lawn and gardening</li>
<li>Electronis includes Games and computers</li>
</ul>
</div>