<div class="container">
<div class="list">List only deals from your local stores. Please don't share deals that require coupons.</div><br/>
Asterik (*) means that field is required<br/>
<div class="line"></div>
<%= form_for @deal ,:url=>{:action =>"create"},:html=>{:multipart=>true} do |c|%>
     <%= c.error_messages %>       
<%= c.collection_select(:category_id, Category.all ,:id,:category_name,:prompt=>"category") %><br/>
<table class="spot">
	<tr><td><b>I spot </b></td></tr>
<tr><td><label>Product/Item*</label></td><td><%= c.text_field :item_name %></td></tr>
<!--	
<tr><td><%= c.radio_button :fixed_price, true,:class=>"fixed-price" %>Actual sale price<a href="#" id="actual">?</a>
</td><td><%= c.radio_button :fixed_price, false,:class=>"buy-two" %>Buy 2 get one free</td></tr>-->
<tr><td><b>for price </b></td></tr>
<tr class="fixed"><td><label>Sale Price*</label></td><td><%= c.text_field :price %></td></tr>
<%= c.hidden_field :submitter_id,:value => current_user.id%>
<tr><td><b>at location</b></td></tr>
<tr><td><label>City*</label></td><td><%= c.text_field :town %></td></tr> 
<%=c.fields_for :stores do |s| %>
<tr><td><label>Store*</label></td><td><%=s.text_field :store_name %></td></tr>
<%= s.hidden_field :city_id,:value => @city.id%>
</table>
<div class="line"></div>
<b>Optional</b><br/>
<label>Cross street</label></td><td><%=s.text_field :address %><a href="#" id="street">?</a><br/>
<%end%> 
<%= c.hidden_field :user_id,:value => current_user.id%>
<b>optional</b><br/>
<label>Item Image</label><%=c.file_field :image %><br/>
 <%= c.hidden_field :image_cache %>

<label><b>Optional</b></label><br/>
<label>Deal details</label><br/><%=c.text_area :details,:rows=>"6",:cols=>"70"%>  <br/>
<%= c.submit "post"%>    
<%end%>
<div class="info">
<b>Note:</b><br/>
<ul>
<li>Clothing category includes purses and luggage</li>
<li>Houseware category includes bedding, kitchenware and other home appliances</li>
<li>Home improvement includes lawn care and gardening</li>
<li>Electronics includes Games and Computers</li>
</ul>
</div>
<!--hidden instructions-->
<div class="size-instruction ui-helper-hidden">size should be either lb, oz(ounces), XL, GB, ft. etc. Some items may contain more than one size, e.g a computer could have hard drive size, memory size and screen resolution. Use a comma "," to separate between each size. </div>
<div class="quantity-instruction ui-helper-hidden">Quantity should be the number of items that are included in a particular sale price you mention e.g Two T-shirts for 20$,2 is the quantity of items.</div>
<div class="street-instruction ui-helper-hidden">Mention the main road the store is on</div>
<div class="actual-instruction ui-helper-hidden">Actual price is when the deal has a fixed price and does not require to purchase any extra item e.g Plasma Tv for "150$".Also could be  2 ipod touch for "250$",but in this case it is important to explain in the details field below that whether buying 2 is required or not to get the deal price</div>
<div class="not-fixed-instruction ui-helper-hidden">Buy n items get percent off or item free is when the deal you spotted depends on purchase of another item.</div>

</div>