<div class="container">
<h2>All new deals</h2>
<div class="clear"></div>
<div class="notice">
  <%=flash[:notice]%>
  </div>
  <div class="errors"> <%=flash[:error]%></div>
<%@deals.each do |deal|%>
<div style="float:left">
<div class="deal">
<a href="/comment/index?deal_id=<%=deal.id%>"><%=deal.size%>&nbsp;<%=deal.brand%>
&nbsp;<%=deal.item_name%> </a>for <%=deal.price%>$<br/>
<span class="image"> <%=image_tag (deal.image_url.to_s )%></span><br/>
<%=link_to "vote down",vote_down_deal_path(deal),:method=>:post,:remote=>true %>
 <%=link_to "vote up",vote_up_deal_path(deal),:method=>:post,:remote=>true %>
<%=pluralize(deal.plusminus,"vote")%><br/>
 <a href="/comment/index?deal_id=<%=deal.id%>">view</a>
<br/>
  <% deal.stores.each do |club| %>
    <%= club.store_name %>
    <%=club.address%><br/>
     <%end%> 
        <%=pluralize(deal.comments.count,"comment")%><br/>
     </div><br/>
  
   <span class="time"> posted&nbsp;<%=time_ago_in_words(deal.created_at)%>&nbsp;ago</span>
  </div>
  
<%end%>
</div>