<div class="container">
<div class="clear"></div>
<% unless @total_comments==0 %>
<div class="comment-bar-alert" >You have &nbsp;<%=pluralize(@total_comments,"New comment")%></div>
<%else%>
<div style="display:none;"><%=@total_comments%></div>
<%end%>
Your points: <%=pluralize(current_user.karma,"point")%><br/>
credits:0<br/>
<div style="width:600px;">
<%@mydeals.each do |mydeal|  %>
<div class="image-search"><%=image_tag mydeal.image_url.to_s%></div>
<div class="item-name-search">
<a class="profile-item" href="/comment/index?deal_id=<%=mydeal.id%>"><%=mydeal.size%>&nbsp;<%=mydeal.brand%>
&nbsp;<%=mydeal.item_name%> </a><br/>
    <% if mydeal.official%>
    <%=pluralize(mydeal.votes_for,"+vote")%>
    <%=pluralize(mydeal.votes_against,"-vote")%><br/>
    <%else%>
    <%=pluralize(mydeal.plusminus,"vote")%><br/>
     <%end%>
<% mydeal.stores.each do |store| %>
<%=store.store_name%><br/>
<%end%>
<%=pluralize(mydeal.comments.count,"comment")%><br/>	
<% if mydeal.official%>
<%=link_to "edit" ,edit_retailer_deal_path(mydeal)%>
<%else%>
<%=link_to "edit" ,edit_deal_path(mydeal)%>
<%end%>
<%=link_to "delete" ,delete_deal_path(mydeal),:confirm=>"Are you sure want to delete this deal",:method=>:delete%>

<% if mydeal.flagged %>
<div>This deal has been flagged ,Please delete the deal or make necessary corrections</div>
<%end%>
</div>
<div class="clear"></div>
<%end%>
</div>

</div>