<div class="container">

your points<br/>
credits
<%@mydeals.each do |mydeal|  %>
<% unless @new_comments==0 %>
<div ><%=pluralize(@new_comments,"New comment")%></div>
<%else%>
<div style="display:none;"><%=@new_comments%></div>
<%end%>
<a href="/comment/index?deal_id=<%=mydeal.id%>"><%=mydeal.size%>&nbsp;<%=mydeal.brand%>
&nbsp;<%=mydeal.item_name%> </a>for <%=mydeal.price%>$ <br/>
<span class="image"><%=image_tag mydeal.image_url.to_s%></span><br/>

<%=pluralize(mydeal.plusminus,"vote")%>
<% mydeal.stores.each do |store| %>
<%=store.store_name%>
<%=store.address%>
<%end%>
   
  <%=pluralize(mydeal.comments.count,"comment")%>
<%end%>

</div>