<div class="container">

your points<br/>
credits
<% unless @total_comments==0 %>
<div ><%=pluralize(@total_comments,"New comment")%></div>
<%else%>
<div style="display:none;"><%=@total_comments%></div>
<%end%>
<%@mydeals.each do |mydeal|  %>

<% if mydeal.flagged %>
<div class="flagged">
<a href="/comment/index?deal_id=<%=mydeal.id%>"><%=mydeal.size%>&nbsp;<%=mydeal.brand%>
&nbsp;<%=mydeal.item_name%> </a>for <%=mydeal.price%>$ <br/>
<span class="image"><%=image_tag mydeal.image_url.to_s%></span><br/>
<% if mydeal.official%>
<%=link_to "edit" ,edit_retailer_deal_path(mydeal)%>
<%else%>
<%=link_to "edit" ,edit_deal_path(mydeal)%>
<%end%>
<%=link_to "delete" ,delete_deal_path(mydeal),:confirm=>"Are you sure want to delete this deal",:method=>:delete%>

<% if mydeal.flagged %>
<div>This deal has been flagged ,Please delete the deal or make necessary corrections</div>
<%end%>
<%=pluralize(mydeal.plusminus,"vote")%>
<% mydeal.stores.each do |store| %>
<%=store.store_name%>
<%=store.address%>
<%end%>
   
  <%=pluralize(mydeal.comments.count,"comment")%>

</div>
<%else%>
<a href="/comment/index?deal_id=<%=mydeal.id%>"><%=mydeal.size%>&nbsp;<%=mydeal.brand%>
&nbsp;<%=mydeal.item_name%> </a>for <%=mydeal.price%>$ <br/>
<span class="image"><%=image_tag mydeal.image_url.to_s%></span><br/>
<% if mydeal.official%>
<%=link_to "edit" ,edit_retailer_deal_path(mydeal)%>
<%else%>
<%=link_to "edit" ,edit_deal_path(mydeal)%>
<%end%>
<%=link_to "delete" ,delete_deal_path(mydeal),:confirm=>"Are you sure want to delete this deal",:method=>:delete%>

<% if mydeal.flagged %>
<div>This deal has been flagged ,Please delete the deal or make necessary corrections</div>
<%end%>
<%=pluralize(mydeal.plusminus,"vote")%>
<% mydeal.stores.each do |store| %>
<%=store.store_name%>
<%=store.address%>
<%end%>
   
  <%=pluralize(mydeal.comments.count,"comment")%>


<%end%>
<%end%>

</div>