
<div class="clear"></div>

<% if current_user.business %>
<h3>Administrator</h3>
<div>Update address</div>
<div><%=link_to 'List a New Deal',{:controller=>"deal",:action =>"retailers" }%></div>
<%if @mydeals.empty? %>
<h3 class="empty-profile">You have not listed any deal</h3>
 <%end%>
<%@mydeals.each do |mydeal|  %>
<div class="image-search"><%=image_tag mydeal.image_url.to_s%></div>
<div class="item-name-search">
<a class="profile-item" href="/comment/index?deal_id=<%=mydeal.id%>"><%=mydeal.size%>&nbsp;<%=mydeal.brand%>
&nbsp;<%=mydeal.item_name%> </a><br/>
    <% if mydeal.official%>
    <%=pluralize(mydeal.votes_for,"+vote")%>
    <%=pluralize(mydeal.votes_against,"-vote")%><br/>
    <%else%>
    <%=pluralize(mydeal.plusminus,"vote")%><br/>
     <%end%>
<% mydeal.stores.each do |store| %>
<%=store.store_name%><br/>
<%end%>
<%=pluralize(mydeal.comments.count,"comment")%><br/>  
<% if mydeal.official%>
<%=link_to "edit" ,edit_retailer_deal_path(mydeal),:class=>"link-underline"%>
<%else%>
<%=link_to "edit" ,edit_deal_path(mydeal),:class=>"link-underline"%>
<%end%>
<%=link_to "delete" ,delete_deal_path(mydeal),:confirm=>"Are you sure want to delete this deal",:method=>:delete,:class=>"link-underline"%>

<% if mydeal.flagged %>
<div>This deal has been flagged ,Please delete the deal or make necessary corrections</div>
<%end%>
</div>
<div class="clear"></div>
<%end%>

<%else%>
   <% if flash[:error]%>
   <div class="error"> <%=flash[:error]%></div>
   <%end%>

<h2>My Profile</h2>

<div><%=link_to 'Share with your community',{:controller=>"deal",:action =>"retailers" }%></div>
<% unless @total_comments==0 %>
<div class="comment-bar-alert" >You have &nbsp;<%=pluralize(@total_comments,"New comment")%></div>
<%else%>
<div style="display:none;"><%=@total_comments%></div>
<%end%>
<span style="font-weight:bold;">
Your points: <%=pluralize(@points + @bonus,"point")%><br/>
<!--credits:$<%=@credits%>-->
</span>
<div class="underline"></div>
<div style="float:left;width:350px;">
<h3>My Questions</h3>
<%if @questions.empty? %>
<h3 class="empty-profile">You have not asked a question yet</h3>
 <%end%>
<%@questions.each do |ques| %>
     <% if ques.where && ques.how_much %>
      <a  href="/questions/<%=ques.id%>">Where can i find <%=ques.item%> for a low price?How much is it?</a><br>
      <%=pluralize(ques.answers.count,"Answer")%>
      <div class="pro-question-line"></div>
     <%elsif ques.where %>
     <a  href="/questions/<%=ques.id%>"> Where can i find  <%=ques.item%> for a low price?</a><br>
       <%=pluralize(ques.answers.count,"Answer")%>
      <div class="pro-question-line"></div>
     <%else%>
      <a  href="/questions/<%=ques.id%>"> How much is <%=ques.item%>?</a><br>
       <%=pluralize(ques.answers.count,"Answer")%>
      <div class="pro-question-line"></div>
       <%end%>
<%end%>
</div>

<div style="float:left;width:300px;margin-left:10px;">
<h3>My Answers</h3>
<%if @answers.empty? %>
<h3 class="empty-profile">You have not answered any question</h3>
 <%end%>
<%@answers.each do |ans| %>
You can find  <a  href="/questions/<%=ans.question.id%>"><%=ans.question.item%></a> for <%=ans.pricing %> at
<%=ans.location%><br>
     <% unless ans.answer_details.empty?%>
     <%=ans.answer_details%>
     <%end%><br>
<%end%>
</div>

<div style="float:left;width:280px;">
<h3>My Spotted Deals</h3>
<%if @mydeals.empty? %>
<h3 class="empty-profile">You have not listed any deal</h3>
 <%end%>
<%@mydeals.each do |mydeal|  %>
<div class="image-search"><%=image_tag mydeal.image_url.to_s%></div>
<div class="item-name-search">
<a class="profile-item" href="/comment/index?deal_id=<%=mydeal.id%>"><%=mydeal.size%>&nbsp;<%=mydeal.brand%>
&nbsp;<%=mydeal.item_name%> </a><br/>
    <% if mydeal.official%>
    <%=pluralize(mydeal.votes_for,"+vote")%>
    <%=pluralize(mydeal.votes_against,"-vote")%><br/>
    <%else%>
    <%=pluralize(mydeal.plusminus,"vote")%><br/>
     <%end%>
<% mydeal.stores.each do |store| %>
<%=store.store_name%><br/>
<%end%>
<%=pluralize(mydeal.comments.count,"comment")%><br/>	
<% if mydeal.official%>
<%=link_to "edit" ,edit_retailer_deal_path(mydeal),:class=>"link-underline"%>
<%else%>
<%=link_to "edit" ,edit_deal_path(mydeal),:class=>"link-underline"%>
<%end%>
<%=link_to "delete" ,delete_deal_path(mydeal),:confirm=>"Are you sure want to delete this deal",:method=>:delete,:class=>"link-underline"%>

<% if mydeal.flagged %>
<div>This deal has been flagged ,Please delete the deal or make necessary corrections</div>
<%end%>
</div>
<div class="clear"></div>
<%end%>

<%end%>
</div>
