<div class="container">
<h2>Why partner with spotsaving?</h2>
<p>Spotsaving will help you sell your products quicker and grow your audience by advertising your discounted and  clearance <br> merchandise for free. </p>
<div class="line"></div>
<%= form_for @deal ,:url=>{:action =>"retailer_create"},:html=>{:multipart=>true} do |f|%>
   <%= f.error_messages %>
        
<%= f.collection_select( :category_id, Category.all ,:id,:category_name,:prompt=>"category") %><br/>
<table>
<tr><td><label>Brand</label></td><td><%=f.text_field :brand%></td></tr>
<tr><td><label>size/quantity/hours</label></td><td><%= f.text_field :size%></td></tr>
<tr><td><label>quantity</label></td><td><%= f.text_field :quantity%></td></tr>
<tr><td><label>Product/service name*</label></td><td><%= f.text_field :item_name %></td></tr>
<tr><td><%= f.radio_button :fixed_price, true,:class=>"fixed-price" %>Actual deal price</td><td><%= f.radio_button :fixed_price,false, :class=>"percent-off" %>Buy n items get percent off or item free</td></tr>
<tr class="ui-helper-hidden fixed"><td><label>Price</label></td><td><%= f.text_field :price %></td></tr>
<tr class="ui-helper-hidden percent" ><td><label>percent off on another extra item</label></td><td><%= f.text_field :percent_off %></td></tr>
<tr class="ui-helper-hidden percent" ><td>or</td></tr>
<tr class="ui-helper-hidden percent"><td><label>n other items free</label></td><td><%= f.text_field :n_item_free %></td></tr>
<tr><td><label>Regular Price*</label></td><td><%= f.text_field :reg_price %></td></tr>
<tr><td><label>Deal end date</label></td><td><%=f.date_select  :end_date,:start_year=>2011,:order => [:month,:day,:year],:prompt => {:month => 'Select month',:day => 'Select day', :year => 'Select year'}%> </td></tr>
<tr><td>Mark it as until sold<input type="checkbox"></td></tr>
<tr><td><label>No. of items available</label></td><td><%= f.text_field :available_items %></td></tr>
<%= f.hidden_field :user_id,:value => current_user.id%>
<tr><td><label>Image of the item(s)/business</label></td><td><%= f.file_field :image %></td></tr>
 <%= f.hidden_field :official,:value=>true%>
 <%= f.hidden_field :image_cache %>
<%= f.hidden_field :submitter_id,:value => current_user.id%>
<%=f.fields_for :stores do |store| %>
<tr><td><label>Name of the Store/business*</label></td><td><%=store.text_field :store_name %></td></tr>
<%= store.hidden_field :city_id,:value => @city.id%>
<tr><td><label>Address*</label></td><td><%=store.text_field :address %></td></tr>
<%end%> 
<tr><td><label>City*</label><%=f.text_field :town,:size=>"20" %></td><td><label>state*</label><%=f.text_field :state,:size=>"5" %>
<label>zipcode*</label><%=f.text_field :zipcode,:size=>"10" %></td>
</tr>  
<tr><td><label>phone number*</label></td><td><%= f.text_field :phone %></td></tr>

</table>
<label>Deal details</label><br/><%=f.text_area :details,:rows=>"6",:cols=>"60"%> <br/>   <%= f.submit "post"%>                   
<%end%>
</div>