

 <div class="notice">
  <%=flash[:notice]%>
  <div class="errors"><%=flash[:error]%></div>
  </div>
<div class="clear"></div>
<%if @deals.empty?%>
<div class="prompt-mesaage">No results found</div>
<div class="header-line"></div>
<div class="empty-search">Sorry No match were found, Spotsaving is still New and under development</div>
<%else%>

<div class="prompt-mesaage"><%=pluralize(@deals.count,"result")%>  found</div>
<div class="header-line"></div>

<%@deals.each do |deal|%>
<div class="image-search"><%=image_tag deal.image_url.to_s%></div>
<div class="item-name-search">
 
<a class="item-search-link" href="/comment/index?deal_id=<%=deal.id%>"><%=deal.item_name%> </a>    <br/>
    <%StoreDeal.where("deal_id = ?",deal.id).includes(:store).each do |club| %>
    <span style="color:808080;"><%= club.store.user.store.store_name %>&nbsp;in
    <%=club.store.user.store.town%> </span><br/>
    <%if deal.official %>
     <span class="official">Official</span>
     <%end%>   
   </div>
   <div style="float:right;margin-left:30px;">

   <%unless deal.fixed_price.nil?%>
         <%if deal.fixed_price%>
         <div class="item-price">$<%=deal.price%></div>
         <%else%>
         <div class="item-price"><%= deal.percent_off%>%Off</div>
         <%end%>
   <%else%>
          <%if deal.unfixed%> 
          <div style="font-weight:bold;">Buy 2</div> 
          <div class="item-price">get 1 free</div> 
          <%else%>
           <a class="link-underline" href="/comment/index?deal_id=<%=deal.id%>">See more details</a> <br/>
          <%end%>  
   <%end%>     
   <!--
    <a  href="/comment/index?deal_id=<%=deal.id%>">See details</a>
 <br/>
    -->

<b><%=pluralize(deal.plusminus,"vote")%></b>
<a class="search-view" href="/comment/index?deal_id=<%=deal.id%>">view</a>
</div>
<div class="clear"></div>
<span class="time"><%=time_ago_in_words(deal.created_at)%>&nbsp;ago</span>
<%end%>
   
  <div class="underline"></div> 
<%end%>
<%end%>

