<div class="container">

 <div class="notice">
  <%=flash[:notice]%>
  <div class="errors"><%=flash[:error]%></div>
  </div>
<div class="clear"></div>
<%if @deals.empty?%>
<div class="list">No results found</div>
<div class="header-line"></div>
<div class="empty-search">Sorry No match were found, Spotsaving is still New and under development</div>
<%else%>

<div class="list"><%=pluralize(@deals.count,"result")%>  found</div>
<div class="header-line"></div>
<%@deals.each do |deal|%>
<div class="image-search"><%=image_tag deal.image_url.to_s%></div>
<div class="item-name-search">
<a class="item-search-link" href="/comment/index?deal_id=<%=deal.id%>"><%=deal.size%>&nbsp;<%=deal.brand%>
&nbsp;<%=deal.item_name%> </a>
<br/>
    <% deal.stores.each do |club| %>
    <span style="color:808080;"><%= club.store_name %>&nbsp;in
    <%=deal.town%> </span><br/>
    <%if deal.official %>
     <span class="official">Official</span>
     <%end%>   
   </div>
   <div style="float:right;margin-left:30px;">

   
   <div class="item-price">$<%=deal.price%></div>
   <!--
    <a  href="/comment/index?deal_id=<%=deal.id%>">See details</a>
 <br/>
    -->

<b><%=pluralize(deal.plusminus,"vote")%></b>
<a class="search-view" href="/comment/index?deal_id=<%=deal.id%>">view</a>
</div>
<div class="clear"></div>
<span class="time"><%=time_ago_in_words(deal.created_at)%>&nbsp;ago</span>
<%end%>
   
  <div class="underline"></div> 
<%end%>
<%end%>
</div>
