

 <div class="notice"> </div>
 <div class="errors"> </div>
 <% if flash[:error]%>
 <div class="error"> <%=flash[:error]%></div>
     <%end%>
     <% if flash[:notice]%>
  <div class="note"> <%=flash[:notice]%></div>
     <%end%>
<div class="clear"></div>

<% @deals.each do |store_deal| %>
<div style="float:left;">
<div class="deal">
<%unless store_deal.official%>
     <%unless store_deal.fixed_price.nil?%>
         <%if store_deal.fixed_price%>
      <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%=truncate( store_deal.item_name,:length=>22)%></a><br/>
      <span class="static-text">for</span>&nbsp;<span class="item-price">$<%=number_with_precision(store_deal.price,:precision=>2) %></span><br/>
        <%else%>
              <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%=truncate( store_deal.item_name,:length=>30)%></a><br/>
             <span class="item-price"><%= store_deal.percent_off%>%Off</span><br/>
         <%end%>
     <%else%>
            <%if store_deal.unfixed%>
            <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>">Buy 2&nbsp;<%=truncate( store_deal.item_name,:length=>30)%></a><br/><span class="item-price">get 1 free</span>
             <%else%>
             <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>">
             <%=truncate(store_deal.item_name,:length=>30)%> </a>&nbsp; <br/>
             <a class="link-underline" href="/comment/index?deal_id=<%=store_deal.id%>">See details</a> <br/>      
             <%end%> 
     <%end%>
<span class="image"> <%=image_tag (store_deal.image_url.to_s )%></span><br/>
<div >
  <%=link_to image_tag("down.png"),vote_down_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-down" %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-up" %>
  <span class="votes"><%=pluralize(store_deal.plusminus,"vote")%></span>
 </div>
 <div>
<a class="view-button" href="/comment/index?deal_id=<%=store_deal.id%>">view deal</a>
</div>
   
        <% store_deal.stores.each do |store|%>
        <div class="store-name">
        <%=truncate(store.store_name,:length=>15) %>&nbsp; <span class="static-text">in</span>&nbsp;
        <%end%>
        <%=truncate(store_deal.town,:length=>21)%>
        </div>
<%else%>
  <%unless store_deal.fixed_price.nil?%>
    <% if store_deal.fixed_price%>
    <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%=truncate( store_deal.item_name,:length=>30)%></a><br/>
    <span class="static-text">for</span>&nbsp;<span class="item-price">$<%= number_with_precision(store_deal.price,:precision=>2) %></span><br/>
   <%else%>
    <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%=truncate( store_deal.item_name,:length=>30)%></a><br>
   <span class="item-price"><%= store_deal.percent_off%>%Off</span><br/>
   <%end%>
<%else%>   
       <%if store_deal.unfixed%>
            Buy 2&nbsp;<a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%=truncate( store_deal.item_name,:length=>20)%></a><br><span class="item-price">get 1 free</span>
             <%else%>
             <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>">
             <%=truncate(store_deal.item_name,:length=>30)%> </a>&nbsp; <br/>
             <a class="link-underline" href="/comment/index?deal_id=<%=store_deal.id%>">See details</a> <br/>      
             <%end%> 
  <%end%>           
  <span class="image"> <%=image_tag (store_deal.image_url.to_s )%></span><br/>
  <div >
  <%=link_to image_tag("down.png"),vote_down_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-down" %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-up" %>
  <span class="votes"><%=pluralize(store_deal.plusminus,"vote")%></span>
 </div>
 <div>
<a class="view-button" href="/comment/index?deal_id=<%=store_deal.id%>">view deal</a>
</div> 
         <% store_deal.stores.each do |store|%>
        <div class="store-name">
        <%=truncate(store.store_name,:length=>15) %>&nbsp; <span class="static-text">in</span>&nbsp;
          <%=truncate( store.town,:length=>15 )%>
        <%end%>
        </div>
        
<%end%>  
   <span class="comment-front-page"><%=pluralize(store_deal.comments.count,"comment")%></span><br/>
   <% unless store_deal.flagged %>
   <%=link_to "flag this",flagg_deal_path(store_deal),:method=>:post,:remote=>true,:confirm=>"Are you sure, want to flag this?" ,:class=>"flag"%>
   <%if store_deal.official%>
   <div class="official">Official</div>
   <%end%>
 <%else%>
 <span class="flagged">flagged</span>
 <%end%>
 </div>	
 <br>
 <span class="time"> spotted <%=time_ago_in_words(store_deal.created_at)%>&nbsp;ago&nbsp;by &nbsp;<%=store_deal.user.username%></span>
 </div>
  <%end%> 
  <div class="clear"></div>






 



