



 <div class="notice"> </div>
 <div class="errors"> </div>
 <% if flash[:error]%>
 <div class="error"> <%=flash[:error]%></div>
     <%end%>
     <% if flash[:notice]%>
  <div class="note"> <%=flash[:notice]%></div>
     <%end%>
<div class="clear"></div>

<span  class="share">Ask your local community how much and where to find what <%=link_to "Ask",{:controller=>"questions",:action =>"new"} ,{:class=>"list-button" }%></span>
<div style="float:left;margin-left:220px;text-align:center;">
<span class="spotted-deals">Tell us the deal you saw at the store</span>
<span> <%=link_to "Share",{:controller=>"deal",:action =>"new"} ,{:class=>"list-button" }%></span><br>

</div>
 <div class="bold-line"></div><div class="short-bold-line"></div>
 <div style="float:left">




<% @questions.each do |question| %>
   <% if question.where && question.how_much %>
 <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a"> <a  href="/questions/<%=question.id%>"> Where can i find <%=question.item%> for a low price? How much is it?</a><br>
         <% unless question.additional_details.empty?%> 
          <span class="details"><%=truncate(question.additional_details,:length=>150)%></span><br>
         <%else%>
          <span class="no-details">no additional details</span><br>
         <%end%> 
         <span class="asked-by">asked by</span>
         <span class="username"><%=question.user.username%></span>
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
            <div class="light-line"></div>
   <% elsif question.where %>
   <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a">
   <a href="/questions/<%=question.id%>"> Where can i find <%=question.item%> for a low price?</a><br>
           <% unless question.additional_details.empty?%> 
           <span class="details"><%=truncate(question.additional_details,:length=>150)%></span><br>
                      
           <%else%>
           <span class="no-details">no additional details</span><br>
           <%end%> 
           <span class="asked-by">asked by</span>
         <span class="username"><%=question.user.username%></span>
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
           </span>
               <div class="light-line"></div>
   <% else%>
   <span class="inline_table"> <%=image_tag('q.png')%></span><span class="inline_tables-a">
   <a href="/questions/<%=question.id%>"> How much  is <%=question.item%> ?</a><br>
            <% unless question.additional_details.empty?%> 
            <span class="details"> <%=truncate(question.additional_details,:length=>150)%></span><br>
                      
           <%else%>
            <span class="no-details">no additional details</span><br>
            <%end%>
              <span class="asked-by">asked by</span>
         <span class="username"><%=question.user.username%></span>
         <span class="time-stamp"><%=time_ago_in_words(question.created_at)%> ago</span>
          <span class="answer-count"><%=pluralize(question.answers.count,"Answer")%></span>
           <a class="reply-button" href="/questions/<%=question.id%>">Reply</a><br></span>
            <div class="clear"></div>
           </span>
           <div class="light-line"></div>
   <%end%>
<%end%>
</div>

<div style="float:left;margin-left:180px;">
<div class="empty-box">
<h3>Local Spotted Deals</h3>
<% @deals.each do |store_deal| %>
<div class="deal">
<%unless store_deal.official%>
     <%unless store_deal.fixed_price.nil?%>
         <%if store_deal.fixed_price%>
      <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%=truncate( store_deal.item_name,:length=>22)%></a><br/>
      <span class="static-text">for</span>&nbsp;<span class="item-price">$<%= store_deal.price %></span><br/>
        <%else%>
              <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%=truncate( store_deal.item_name,:length=>30)%></a><br/>
             <span class="item-price"><%= store_deal.percent_off%>%Off</span><br/>
         <%end%>
     <%else%>
            <%if store_deal.unfixed%>
            <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>">Buy 2&nbsp;<%=truncate( store_deal.item_name,:length=>30)%></a><br/><span class="item-price">get 1 free</span>
             <%else%>
             <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>">
             <%=truncate(store_deal.item_name,:length=>30)%> </a>&nbsp; <br/>
             <a class="link-underline" href="/comment/index?deal_id=<%=store_deal.id%>">See details</a> <br/>      
             <%end%> 
     <%end%>
<span class="image"> <%=image_tag (store_deal.image_url.to_s )%></span><br/>
<div >
  <%=link_to image_tag("down.png"),vote_down_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-down" %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-up" %>
  <span class="votes"><%=pluralize(store_deal.plusminus,"vote")%></span>
 </div>
 <div>
<a class="view-button" href="/comment/index?deal_id=<%=store_deal.id%>">view deal</a>
</div>
   
        <% store_deal.stores.each do |store|%>
        <div class="store-name">
        <%=truncate(store.store_name,:length=>15) %>&nbsp; <span class="static-text">in</span>&nbsp;
        <%end%>
        <%=truncate(store_deal.town,:length=>21)%>
        </div>
<%else%>
   <% if store_deal.fixed_price%>
   <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%= store_deal.size%> &nbsp;<%= truncate(store_deal.brand,:length=>15)%><br/><%=truncate( store_deal.item_name,:length=>30)%></a><br/>
   <span class="static-text">for</span>&nbsp;<span class="item-price">$<%= store_deal.price %></span><br/>
   <%else%>
   <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>">Buy&nbsp;<%=store_deal.quantity%>&nbsp;<%=store_deal.size%>&nbsp;<%=truncate(store_deal.brand,:length=>30)%><br/>
    <%=truncate(store_deal.item_name,:length=>30)%> </a>&nbsp; <span class="static-text">and get</span><br/>
       <% unless store_deal.n_item_free.nil? %>
       <span class="item-price"><%=store_deal.n_item_free.to_s << " " << "free"%></span>
       <%else%> 
       <span class="item-price"><%=store_deal.percent_off.to_s + "%off"%></span>&nbsp;<span >on next item</span>
       <%end%>   
        <br/>
   <%end%>
<span class="image"> <%=image_tag (store_deal.image_url.to_s )%></span><br/>
<div >
  <%=link_to image_tag("down.png"),vote_down_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-down" %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-up" %>
  <span class="votes"><%=pluralize(store_deal.plusminus,"vote")%></span>
 </div>
 <div>
<a class="view-button" href="/comment/index?deal_id=<%=store_deal.id%>">view deal</a>
</div> 
         <% store_deal.stores.each do |store|%>
        <div class="store-name">
        <%=truncate(store.store_name,:length=>15) %>&nbsp; <span class="static-text">in</span>&nbsp;
        <%end%>
        <%=truncate( store_deal.town,:length=>15 )%>
        </div>
        
<%end%>  
  <span class="comment-front-page"><%=pluralize(store_deal.comments.count,"comment")%></span><br/>
  <% unless store_deal.flagged %>
 <%=link_to "flag this",flagg_deal_path(store_deal),:method=>:post,:remote=>true,:confirm=>"Are you sure, want to flag this?" ,:class=>"flag"%>
 <%if store_deal.official%>
 <div class="official">Official</div>
 <%end%>
 <%else%>
 <span class="flagged">flagged</span>
 <%end%>
 </div>	
 
 <span class="time"> spotted <%=time_ago_in_words(store_deal.created_at)%>&nbsp;ago&nbsp;by &nbsp;<%=store_deal.user.username%></span>
 <div class="deal-dotted-line"></div>
  <%end%> 
</div>

</div>




 



