

<div class="container">

 <div class="notice"> </div>
 <div class="errors"> </div>
 <% if flash[:error]%>
 <div class="error"> <%=flash[:error]%></div>
     <%end%>
     <% if flash[:notice]%>
  <div class="note"> <%=flash[:notice]%></div>
     <%end%>
<div class="clear"></div>

<span >Share with your community the great price you spot today <%=button_to "list a deal",{:controller=>"deal",:action =>"new"} ,{:class=>"list-button" }%></span>
 <br/>
<% @deals.each do |store_deal| %>
<div style="float:left">
<div class="deal">
 <a class="item" href="/comment/index?deal_id=<%=store_deal.id%>"><%= store_deal.size%> &nbsp;<%= truncate(store_deal.brand,:length=>15)%><br/><%=truncate( store_deal.item_name,:length=>30)%></a><br/>
 for&nbsp;<span class="item-price"><%= store_deal.price %></span><br/>

<span class="image"> <%=image_tag (store_deal.image_url.to_s )%></span><br/>
<div style="margin-bottom:6px;margin-left:10px;">
  <%=link_to image_tag("down.png"),vote_down_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-down" %>
 <%=link_to image_tag("up.png"),vote_up_deal_path(store_deal),:method=>:post,:remote=>true,:class=>"vote-up" %>
  <%=pluralize(store_deal.plusminus,"vote")%>
 </div>
 <div style="margin-left:15px;">
<a class="view-button" href="/comment/index?deal_id=<%=store_deal.id%>">view</a>
</div>
 <% store_deal.stores.each do |store|%>
 <div class="store-name">
  <%=truncate(store.store_name,:length=>15) %>&nbsp;by&nbsp;
  <%=truncate( store.address,:length=>15 )%></div>
<%end%>
  <%=pluralize(store_deal.comments.count,"comment")%><br/>
  <% unless store_deal.flagged %>
 <%=link_to "flagg this",flagg_deal_path(store_deal),:method=>:post,:remote=>true,:confirm=>"Are you sure, want to flag this?" ,:class=>"flag"%>
 <%if store_deal.official%>
 <div>Official</div>
 <%end%>
 <%else%>
 <span class="flagged">flagged</span>
 <%end%>
 </div>	
 <br/>
 <span class="time">&nbsp; posted <%=time_ago_in_words(store_deal.created_at)%>&nbsp;ago</span>
 </div>
  <%end%>
 </div>



