

<div class="container">

 <div class="notice"> <%=flash[:notice]%> </div>


 <div class="errors"> <%=flash[:error]%></div>
  
<div class="clear"></div>
<span >Share with your community the great price you spot today <%=button_to "list a deal",{:controller=>"deal",:action =>"new"} ,{:class=>"list-button" }%></span>
 <br/>
<% @deals.each do |store_deal| %>
<div style="float:left">
<div class="deal">
 <a href="/comment/index?deal_id=<%=store_deal.id%>"><%= store_deal.size%> &nbsp;<%= store_deal.brand%>&nbsp;<%= store_deal.item_name %></a>
 for <%= store_deal.price %><br/>
<span class="image"> <%=image_tag (store_deal.image_url.to_s )%></span><br/>
  <%=link_to "vote down",vote_down_deal_path(store_deal),:method=>:post,:remote=>true %>
 <%=link_to "vote up",vote_up_deal_path(store_deal),:method=>:post,:remote=>true %>
  <%=pluralize(store_deal.plusminus,"vote")%>
 <br/>
<a class="view-button" href="/comment/index?deal_id=<%=store_deal.id%>">view</a><br/>
 <% store_deal.stores.each do |store|%>
  <%= store.store_name %>&nbsp;by&nbsp;
  <%= store.address %><br/>
<%end%>
  <%=pluralize(store_deal.comments.count,"comment")%>
 </div><br/>
 <span class="time">&nbsp; posted <%=time_ago_in_words(store_deal.created_at)%>&nbsp;ago</span>
 </div>
<%end%>

</div>
