<!DOCTYPE html>
<html>
<head>
  <title>Deals</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header-background">
<div class="head">
<span class="user-status">
<% if user_signed_in? %>
<% unless @total_comments==0 %>
<a class="comment-alert" href="/deal/profile" ><%=@total_comments%>&nbsp;New</a>
<%else%>
<div style="display:none;"><%=@total_comments%></div>
<%end%>
    <span class="Sign-Up"><a class="username"  href="#">&nbsp;<%=pluralize(current_user.karma,"point")%>&nbsp; </a><a class="username" href="/deal/profile" >&nbsp;<%= current_user.username %>&nbsp;</a> 
  <%= link_to "Sign Out", destroy_user_session_path, :method => :get ,:class=>"sign-up"%></span>
  <% else %>
   <span class="sign-up"> <%= link_to "Sign Up", new_user_registration_path %> <a href="#">&nbsp;or&nbsp;</a> <%= link_to "Sign In", new_user_session_path %></span>
  <% end %>
</span>  <br/>
<span class="city-title"><%=@city.name %></span>
<ul class="menu">
<li><%=link_to 'All deals',{:controller=>"deal",:action =>"show" }%></li>
<li><%=link_to 'New deals',{:controller=>"deal",:action =>"new_deals" }%></li>
<li><%=link_to 'How it works',{:controller=>"deal",:action =>"how_it_works" }%></li>
<li><%=link_to 'Retailers',{:controller=>"deal",:action =>"retailers" }%></li>

</ul>

<span class="search-form">
<%= form_for  @search,:url=>{:controller=>"deal",:action=>"search"} do |f| %>
  
    <%= f.text_field :item_name_contains,:class=>"search-box" %>
    <%= f.submit "Search Item",:class=>"search-button" %>
  <% end %></span> 


</div>
</div>
<div class="clear"></div>

<div id="main">
<div class="announce">Spotsaving is new and currently is still undergoing through development and testing.For any suggestions/advice and technical issues, please report to <%=link_to "Feedback",{:controller=>'feedbacks',:action=>"new"}%><span style="float:right"><%=image_tag("cancel.png")%></span></div>
<div class="category">
<ul class="categories">
<h3>Category</h3>
<li><%= link_to 'Grocery',{:controller=>"category",:action =>"index" }%></li>
<li><%= link_to 'Electronics',{:controller=>"category",:action =>"electro" }%></li>
<li><%= link_to 'Clothing & shoes ',{:controller=>"category",:action =>"clothing" }%></li>
<li><%= link_to 'Houseware & Furniture',{:controller=>"category",:action =>"houseware" }%></li>
<li><%= link_to 'Restaurant & Fastfood',{:controller=>"category",:action =>"restaurant" }%></li>
<li><%= link_to 'Kids',{:controller=>"category",:action =>"kids" }%></li>
<li><%= link_to 'Jewelry',{:controller=>"category",:action =>"jewelry" }%></li>
<li><%= link_to 'Home improvement',{:controller=>"category",:action =>"home_improve" }%></li>
<li><%= link_to 'Activities & Events',{:controller=>"category",:action =>"activity" }%></li>
<li><%= link_to 'Health & Beauty',{:controller=>"category",:action =>"health" }%></li>
</ul>
</div>
<%= yield %>
</div>
<div class="clear"></div>
<div class="footer">&copy;2011 spotsaving.com&nbsp;<span><%=link_to "Feedback",{:controller=>'feedbacks',:action=>"new"}%></span></div>
</body>
</html>
