<!DOCTYPE html>
<html>
<head>
  <title>Deals</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header-background">
<div class="head">
<span class="city-title"><%=@city.name %></span>
<ul class="menu">
<li><%=link_to 'All deals',{:controller=>"deal",:action =>"show" }%></li>
<li><%=link_to 'New deals',{:controller=>"deal",:action =>"new_deals" }%></li>
<li><%=link_to 'Retailers',{:controller=>"deal",:action =>"retailers" }%></li>
<li><%=link_to 'All cities',{:controller=>"deal",:action =>"all_cities" }%></li>
</ul>

<span class="search-form">
<%= form_for  @search,:url=>{:controller=>"deal",:action=>"search"} do |f| %>
  
    <%= f.text_field :item_name_contains %>
    <%= f.submit "search" %>
  <% end %></span>

  <span class="user-status">
<% if user_signed_in? %>
<% unless @new_comments==0 %>
<div style="color:red" ><%=pluralize(@new_comments,"comment")%></div>
<%else%>
<div style="display:none;"><%=@new_comments%></div>
<%end%>
    <a href="/deal/profile" ><%= current_user.username %></a>. <%=pluralize(current_user.karma,"point")%>

    <%= link_to "Sign out", destroy_user_session_path, :method => :get %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</span>  
</div>
</div>
<div class="clear"></div>

<div class="category">

<div class="category-container">
<h3>Category</h3>
<ul class="categories">
<li><%= link_to 'Electronics',{:controller=>"category",:action =>"electro" }%></li>
<li><%= link_to 'Grocery',{:controller=>"category",:action =>"index" }%></li>
<li><%= link_to 'Clothing',{:controller=>"category",:action =>"clothing" }%></li>
<li><%= link_to 'Restaurant',{:controller=>"category",:action =>"restaurant" }%></li>
<li><%= link_to 'Entertainment',{:controller=>"category",:action =>"entertain" }%></li>
<li><%= link_to 'Activities &Events',{:controller=>"category",:action =>"activity" }%></li>
<li><%= link_to 'Health &Beauty',{:controller=>"category",:action =>"health" }%></li>
</ul>
</div>

</div>
<%= yield %>

</body>
</html>
